/* This is a comment */
#intro {
  color: black;
  font-size: 23px;
}

.default {
  color: black;
  height: 100px;
  font-size: 40px;
}

#sidebar {
  font-size: 23px;
  border: 8px solid lightblue;
  width: 380px;
  margin-top: 229px;
  float: left;
}

#foto {
  border: 6px solid lightblue;
  float: right;
  width: 26%;
}






#special-one {
  font-size: 22px;
}

.text-center {
    text-align:center;
}



body {
    background-image:url("http://www.hdfondos.eu/preview/get_photo/234758/3840/2160");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
html {
    height: 100%
}
